.container {
  display: flex;
  flex-wrap: wrap;
}

.square {
  
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  margin-top: 10px;
  margin-right: 10px;
  background-color: black;
}

#container .square .hide{
  visibility: hidden;
  color: aliceblue;
}

.square .hide:hover {
  color: aliceblue;
  visibility: visible;
}

