.container {
  display: flex;
  flex-wrap: wrap;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  margin-top: 10px;
  margin-right: 10px;
  background-color: black;
}

.square:hover {
cursor: pointer;
}

.hide {
  display: none;
  color: white;
}

.square:hover .hide {
  display: block;
}

